doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      nav
        ul
          li: a(href='/home') Accueil
          li: a(href='/about') À propos de nous
    block content
