extends layout

block content
  h1 Connexion
  if errorMessage
    p(style="color: red") #{errorMessage}
  form(action="/login", method="POST")
    div
      label(for="email") Email:
      input(type="email", name="email", required)
    div
      label(for="password") Mot de passe:
      input(type="password", name="password", required)
    div
      button(type="submit") Se connecter
